* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-family: Silkscreen;
    padding-top: 100px;
    text-decoration: underline;

}

h2 {
    font-family: Silkscreen;
    font-size: 40px;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://img.freepik.com/premium-vector/vaporwave-background-disco_102902-3015.jpg?size=626&ext=jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.memory-matcher {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(4, 10rem);
    perspective: 800px;
    
}

.cards {
    position: relative;
    transition: transform .5s ease-in-out;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    margin: 30px;  
}

.cards.flip {
    transform: rotateY(360deg);
}

.front-side, .back-side {
    height: 150%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    border: 3px solid white;
}

.front-side {
    transform: rotateY(180deg)
}

.start, .reset {
    margin: 5px;
    font-size: 30px;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    color: black;
    padding: 20px;
    margin: auto;
    font-family: Silkscreen;
}
